.whole-body {
    min-width: 50vw;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.name-field {
    width: 100%;
}

.slider {
    width: 80%;
}

.map-body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}